*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
header {
  background-image: linear-gradient(
    45deg,
    rgb(221, 87, 210),
    rgb(86, 164, 228)
  );
  box-shadow: 0 1px 10px;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  padding: 0.8em 0;
}

h1 {
  color: white;
  letter-spacing: 0.2em;
  background: blueviolet;
  padding: 0.2em;
  display: flex;
  align-items: center;
}

ul {
  list-style: none;
  display: flex;
  padding: 0.2em;
}
li {
  display: inline-block;
  padding: 0.5em;
  margin: 0.5em;
}
li a {
  text-decoration: none;
  color: white;
}
a:hover {
  color: rgb(129, 27, 160);
}

div.container {
  color: blue;
  background: white;
  display: flex;
  justify-content: center;
  border-radius: 0.3em;
  border: none;
}

section.more {
  margin-top: 1em;
  padding: 1em 0;
  background-image: linear-gradient(
    45deg,
    rgb(221, 87, 210),
    rgb(86, 164, 228)
  );
}

form {
  display: flex;
  flex-direction: column;
  padding: 0.5em;
  align-items: center;
}

textarea {
  border: 1px solid blue;
  min-width: 90px;
  min-height: 90px;
  border-radius: 0.3em;
  padding: 0.5em;
}

button.post {
  color: blue;
  padding: 0.5em;
  border: none;
  border: 1px solid;
  border-radius: 0.3em;
  cursor: pointer;
  letter-spacing: 0.1em;
  margin-top: 0.5em;
}

button.post:hover {
  color: white;
  background: blue;
}

.btn-edit, .btn-del, .btn-comment {
  cursor: pointer;
  padding: .3em;
  border: none;
  color: white;
  background: orange;
  border-radius: .3em;
  letter-spacing: .1em;
  margin-top: .2em 
}

.btn-edit:hover {
  background: white;
  color: orange;
  border: 1px solid orange;
}

.btn-del{
  color: white;
  background: red;
}

.btn-del:hover {
  background: white;
  color: red;
  border: 1px solid red;
}


article {
  padding: .4em;
  border: 1px solid;
  margin: .2em;
  border-radius: .3em
}

.article-head {
  display: flex;
  justify-content: space-between
}

h3 {
  color: rgb(24, 32, 148) 
}

article p {
  border-bottom: 2px solid rgb(205, 206, 219);
  padding-bottom: .2em;
  color: rgb(24, 32, 148) 
}

.articles {
  display: flex;
  flex-direction: column
}

form input{
  width: 100%;
  height: 20px;
  padding: 1em .1em;
  
}

form input::placeholder{
  font-size: 12px;
  
}

.btn-comment{
  color: black;
  background: grey;
}

.btn-comment:hover{
  color: blue;
  background: none;
  border: 1px solid blue;
}

small {
  color: lightcoral
}

@media screen and (max-width: 500px) {
  nav.container {
    width: 100%;
  }
  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0.2em;
    border-left: 5px solid rgb(129, 27, 160);
  }
  h1 {
    display: flex;
    align-items: center;
    color: white;
    letter-spacing: 0.2em;
    outline: none;
    background: none;
    padding: 0.2em;
  }

  .article-head {
    display: flex;
    flex-direction: column;
    padding-bottom: .2em;
    margin-bottom: .2em;
    border-bottom: 2px solid rgb(205, 206, 219);
  }

  .article-btn {
    display: flex;
    justify-content: space-between;
  }
}


